<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blomag - Responsive Minimal Blog Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Google Webfont -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/style.css') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="wrapper">

    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-9">
                    <a href="./index.html" class="logo"><img src="images/logo.png" class="img-responsive" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="search-content">
                        <form>
                            <input type="text" placeholder="Search text here...">
                        </form>
                    </div>
                    <div class="top-post">
                        <span>latest Post</span>
                        <h4><a href="#">5 Off-Page SEO Techniques that Aren't about Backlinks</a></h4>
                    </div>
                </div>
                <div class="col-md-1 col-xs-3">
                    <div class="search-trigger"><img src="images/ico/search.png" alt=""/></div>
                </div>
            </div>
            <div class="freebie-btn">
                <a href="#"></a>
            </div>
        </div>
    </header>
    <!-- HEADER -->

    <!-- MENU -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Navmenu -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="#">Startup</a></li>
                    <li class="dropdown">
                        <a href="./categories.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Best Industries</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="./categories.html">Action</a></li>
                            <li><a href="./categories.html">Another action</a></li>
                            <li><a href="./categories.html">Something else here</a></li>
                            <li><a href="./categories.html">Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="./categories.html">Funding</a></li>
                    <li><a href="./categories.html">Incubators<span>New</span></a></li>
                    <li><a href="./categories.html">Business Plans</a></li>
                    <li><a href="./categories.html">Seo</a></li>
                    <li><a href="./categories.html">Online Marketing</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- MENU -->

    <!-- 404 ERROR INFO -->
    <div class="error-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Air Ball</h4>
                    <p>Sorry, the page you were looking for doesn't exist.</p>
                    <a href="./index.html">Go Back</a>
                    <h2>404</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 ERROR INFO -->

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-widget footer-about">
                    <h5>About</h5>
                    <p>BloMag HTML Template was built exclusively for Blog Marketers that own a blog or a News Magazine.</p>
                </div>
                <div class="col-md-3 footer-widget footer-subscribe">
                    <h5>Subscribe</h5>
                    <form>
                        <input type="text" placeholder="Email...">
                        <button type="submit">Subscribe to Newsletter</button>
                        <span>We will never spam you!</span>
                    </form>
                </div>
                <div class="col-md-6 footer-widget">
                    <h5>Featured</h5>
                    <div class="row footer-news">
                        <div class="col-md-4">
                            <a href="./blog.html"><img src="images/home/other/1.jpg" class="img-reponsive" alt=""/></a>
                        </div>
                        <div class="col-md-8">
                            <h4><a href="./blog.html">4 Elements You Need to Include in Your Online Marketing Campaigns</a></h4>
                            <div class="post-meta">
                                <span class="post-author">Matt Morgan</span>
                                <span class="post-tags"><a href="#">Development</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->

    <!-- FOOTER - COPYRIGHT -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2015 BloMag HTML Template. Trademarks and brands are the property of their respective owners.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER - COPYRIGHT -->

</div>

<!-- Javascript -->
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/jquery.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/bootstrap.min.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/vendors/jquery.sticky.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/bs-header.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/main.js') }}" />
</body>
</html>