<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blomag - Responsive Minimal Blog Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Google Webfont -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/frontend/css/style.css') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="wrapper">

<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-9">
                <a href="./index.html" class="logo"><img src="{{ asset('bundles/framework/frontend/images/logo.png') }}" class="img-responsive" alt=""/></a>
            </div>
        </div>
    </div>
</header>
<!-- HEADER -->

<!-- MENU -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Navmenu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="active" href="#">Startup</a></li>
                <li class="dropdown">
                    <a href="./categories.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Best Industries</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="./categories.html">Action</a></li>
                        <li><a href="./categories.html">Another action</a></li>
                        <li><a href="./categories.html">Something else here</a></li>
                        <li><a href="./categories.html">Separated link</a></li>
                    </ul>
                </li>
                <li><a href="./categories.html">Funding</a></li>
                <li><a href="./categories.html">Incubators<span>New</span></a></li>
                <li><a href="./categories.html">Business Plans</a></li>
                <li><a href="./categories.html">Seo</a></li>
                <li><a href="./categories.html">Online Marketing</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- MENU -->

<!-- MAIN CONTENT -->
<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- BLOG POST -->
                <div class="home-blog">
                    <div class="full-post">
                        <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/1.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                        <div class="post-meta">
                            <span class="post-author">Lesly Quintella</span>
                            <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                        </div>
                        <h4><a href="blog.html">8 Essential Tools to Simplify SEO for Content Marketing</a></h4>
                        <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/2.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">4 Elements You Need to Include in Your Online Marketing Campaigns</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Lavonne Flynn</span>
                                    <span class="post-tags"><a href="#">Online Marketing</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/3.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                                <span class="post-formats video"></span>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">YouTube Newswire Curates Eyewitness Videos</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Pleasance Noah</span>
                                    <span class="post-tags"><a href="#">Video Marketing</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/4.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">Has Google Gone Too Far with the Bias Toward Its Own Content?</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Morgan Sheri</span>
                                    <span class="post-tags"><a href="#">Development</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="sep"></div>

                    <div class="full-post">
                        <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/5.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                        <div class="post-meta">
                            <span class="post-author">Sheena Geoffrey</span>
                            <span class="post-tags"><a href="#">Tutorials on Marketing</a></span>
                        </div>
                        <h4><a href="blog.html">The Day After: 11 Things to Do After You Publish a Post</a></h4>
                        <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/6.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">How to Make Custom Images for Your Blog Posts Without Hiring a Designer</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Edweena Lynne</span>
                                    <span class="post-tags"><a href="#">Ideometer</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/7.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                                <span class="post-formats gallery"></span>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">Instagram Makes Content More Accessible</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Frederica Hayley</span>
                                    <span class="post-tags"><a href="#">Development</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/8.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="blog.html">The 7 Must Have SEO Reports to Meet Today's Search Optimization Challenges</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Edric Franklin</span>
                                    <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home-blog">
                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/9.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="./blog.html">13 Important Questions You Need to Ask Yourself Before Blogging</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Irene Lynnette</span>
                                    <span class="post-tags"><a href="#">Blogging</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>

                    <div class="half-post">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/10.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                                <span class="post-formats link"></span>
                            </div>
                            <div class="col-md-6">
                                <h4><a href="./blog.html">Simple SEO Mistakes That Can Cause Damage</a></h4>
                                <div class="post-meta">
                                    <span class="post-author">Les Cecilia</span>
                                    <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                                </div>
                                <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PAGINATION -->
                <div class="page_nav">
                    <ul>
                        <li class="active"><a href="./index.html">1</a></li>
                        <li><a href="./index.html">2</a></li>
                        <li><a href="./index.html">3</a></li>
                    </ul>
                </div>
            </div>

            <!-- SIDEBAR -->
            <aside class="col-md-4">
                <div class="ad-block side-widget">
                    <img src="{{ asset('bundles/framework/frontend/images/home/other/ad-300.jpg') }}" class="img-responsive" alt=""/>
                    <a href="#">Advertise Here</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- MAIN CONTENT -->

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-widget footer-about">
                <h5>About</h5>
                <p>BloMag HTML Template was built exclusively for Blog Marketers that own a blog or a News Magazine.</p>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- FOOTER - COPYRIGHT -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2015 BloMag HTML Template. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER - COPYRIGHT -->

</div>

<!-- Javascript -->
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/jquery.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/bootstrap.min.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/vendors/jquery.sticky.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/bs-header.js') }}" />
<link rel="stylesheet" href="{{ asset('bundles/framework/frontend/js/main.js') }}" />
</body>
</html>