<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Админ панель Symfony Blog</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/dist/css/AdminLTE.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/dist/css/skins/_all-skins.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/iCheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/morris/morris.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/datepicker/datepicker3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/daterangepicker/daterangepicker-bs3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/backend/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

<header class="main-header">
<!-- Logo -->
<a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>B</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Symfony</b> Blog</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>

<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- User Account: style can be found in dropdown.less -->

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="https://robohash.org/my-own-slug.jpg?size=160x160" class="user-image" alt="User Image">
        <span class="hidden-xs">Alexander Pierce</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="https://robohash.org/my-own-slug.jpg?size=160x160" class="img-circle" alt="User Image">
            <p>
                Alexander Pierce - Web Developer
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://robohash.org/my-own-slug.jpg?size=160x160" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Панель навигации</li>
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Статьи</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-list-ul"></i> Все</a></li>
                    <li><a href="/"><i class="fa fa-plus"></i> Добавить статью</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Админ
        <small>панель</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
<!-- TO DO List -->
<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">Новая статья</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-8">
                {#<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with#}
                    {#error</label>#}
                <input type="text" class="form-control" placeholder="Название">
            </div>

            <div class="input-group col-xs-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" class="form-control" placeholder="Автор">
            </div>
        </div>

        <p></p>

        <div class="form-group">
            <label for="exampleInputFile">Прикрепить картинку</label>
            <input type="file" id="exampleInputFile">
        </div>

        {#<div class="form-group has-error">#}
            {#<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with#}
                {#error</label>#}
            {#<input type="text" class="form-control" id="inputError" placeholder="Enter ...">#}
            {#<span class="help-block">Help block with error</span>#}
        {#</div>#}

        <div class="box-body pad">
            <form>
                <textarea class="textarea" placeholder="Здесь вы можете написать текст статьи" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </form>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix no-border">
        <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Опубликовать</button>
    </div>
</div>
<!-- /.box -->
</section>
<!-- /.Left col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.3
    </div>
    <strong>Copyright &copy; 2016.</strong> Перескоков Юрий (pers1307)
</footer>
<!-- ./wrapper -->
<script src="{{ asset('bundles/framework/backend/plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="{{ asset('bundles/framework/backend/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/framework/backend/dist/js/app.min.js') }}"></script>
<script src="{{ asset('bundles/framework/backend/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
<script>
    $(function () {
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });

    {#$(".textarea").val() так можно достать содержимое визивика#}
</script>
</body>
</html>
