{% extends 'backend/login/loginLayout.html.twig' %}

{% block login %}
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Symfony</b> Blog</a>
        </div>

        <div class="login-box-body">

            <p class="login-box-msg">Авторизируйтесь для начала работы</p>

            {% if error is empty %}
            {% else %}
                <p style="color: #9f191f" class="login-box-msg">{{ error }}</p>
            {% endif %}

            {{ form_start(form, {'action': path('authorization_index'), 'method': 'POST'}) }}
                <div class="form-group has-feedback">
                    {{ form_widget(form.login, {'attr': {'class': 'form-control', 'placeholder' : 'Логин'}, 'title': ''}) }}
                    {{ form_errors(form.login) }}
                </div>

                <div class="form-group has-feedback">
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder' : 'Пароль'}, 'title': ''}) }}
                    {{ form_errors(form.password) }}
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block btn-flat'}, 'title': ''}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}